.single-cart{
    background: rgb(191, 179, 245);
    height: 550px;
    padding: 10px;
    margin: 10px;
    box-shadow: 10px 10px 60px whitesmoke;
    border-radius: 10px;
}

.single-cart img{
    width: auto;
    padding: 10px;
}